.containerCards {
	/* background: red; */
	position: relative;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	padding-top: 100px;

	/* width: 1085px;
    height: 100vh;
    background: blue;
    margin-bottom: 10px; */
}

@media only screen and (max-width:600px){
	.containerCards {
		flex-direction: column;
	}
}

